@import "_vars.scss";
.container {
  min-height: 98vh;
  padding: 0 $size-sm;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../public/starry-night-sky.jpg");
  color: $primary-color;
  text-align: center;
}
.title {
  margin: 0 0 $size-md;
  line-height: 1.5;
  font-size: $size-xxl;
}
.description {
  line-height: 1.5;
  font-size: $size-xl;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: $size-xxl;
}
.rowgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: $size-md;
  padding: $size-xl;
  text-align: left;
  @include border-rounded;
}

.card:hover {
  color: $secondary-color;
  border-color: $secondary-color;
}

.card h3 {
  margin: 0 0 $size-md 0;
  font-size: $size-xl;
}

.card div {
  margin: 0;
  font-size: $size-l;
  line-height: 1.5;
}
.icon {
  position: relative;
  top: $size-sm;
}
.logo {
  height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.fetchButton {
 background-color: $primary-color;
 color: black;
 padding: $size-sm;
 cursor: pointer;
 @include border-rounded;
}
.loader {
  border: 16px solid $gray-color;
  border-top: 16px solid $primary-color; 
  border-radius: 50%;
  margin-top: $size-sm;
  position: relative;
  left: 45%;
  width: $size-xxl;
  height: $size-xxl;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}